
module my-gstpluginscan 1.0;

require {
	type xserver_exec_t;
	type thumb_t;
	class file execute;
}

#============= thumb_t ==============
allow thumb_t xserver_exec_t:file execute;
